<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.shithead" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
	<application></application>
</manifest>